#!/usr/bin/make -f

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_installdirs
	install hashid.py $(CURDIR)/debian/hashid/usr/bin/hashid

override_dh_installchangelogs:
	dh_installchangelogs doc/CHANGELOG
